extends layout

block content
  .container-fluid
    .row.justify-content-md-center
      h1= title 
    .row.justify-content-md-center
      .form-group
          label(for="languageCodeSelect") Select Language Code
          select#languageCodeSelect.shadow.form-control
            option(value="en-US") en-US
            option(value="en-GB") en-GB
            option(value="de-DE") de-DE
            option(value="fr-FR") fr-FR
            option(value="it-IT") it-IT
    .row.justify-content-md-center
      button.btn(type="button")#start-streaming
        span(style="font-size: 3em; color: DodgerBlue;" id="microphoneIcon")
          i.fas.fa-microphone   
    .row.justify-content-md-center
      .spinner-grow.text-danger.align-bottom(style="width: 3rem; height: 3rem;" role="status" id="recording-status")         
        span.sr-only Streaming...
  .container-fluid
    .row.justify-content-md-center.col-sm-12
      .card
        .card-header
          | Transcription:
        .card-body
          p.card-text#resultText Click on the microphone to begin...
    
  script(src="/socket.io/socket.io.js")  
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")

  script(src="/javascripts/streamAudio.js")

    

  
